@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.main-section {
    background-color: #0e153a;
}

.proj-section {
    background-color: #ffffff;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}


h5 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.text{
    margin-top: 80px;
}

a {
    font-family: 'Open Sans', sans-serif;
}

.fa {
    font-size: 30px;
    color: #000000;
}